*{
    margin: 0;
    padding: 0;
}
/*font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #FFE5DC;
    font-weight: bold;
}
/* header begins*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10% ;
    background-color: #d32e2ea4;
}
.header-nav{
    list-style: none;
}
.icon{
    width:90px ;
}
.icon-shop{
    width:90px ;
    transition: 0.2s linear;
    border-radius: 50%;
}
.icon-shop:hover
{
    background-color: #FFE5DC;
}
.header-nav li {
    display: inline-block;
    padding: 0px 30px;
}
.header-nav li a{
    text-decoration: none;
    color: black;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    border-radius: 50%;
    color:black;
    transition: 0.2s linear ;
    font-size: 25px;
}
.header-nav li a:hover{
    background-color: #FFE5DC;
    color: #d32e2ea4;
}
/* header ends*/

/* main begins*/
/* my keyboard*/
.main-container{
    display: flex;
    padding: 1% 10%;
    column-count: 2;
}
.main-img{
    width:80%;
    height: max-content;
    justify-content: center;
    align-self: center;
}
.main-column{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
    margin: 0 1rem;
    color: black;
}
.main-center{
    justify-self: center;
    align-self: center;
    padding: 2rem 0;
}
.position{
    position: relative;
    top: 100px;
}
h1{
    transition: 0.2s linear ;
    font-size:xx-large;
}
h2{
    font-size: xx-large;
    transition: 0.2s linear ;
}
/*switches*/
.main-container-2{
    display: flex;
    flex-direction: column;
    padding: 0px 10%;
    background-color: #d32e2ea4;
}
.main-text-2{
    font-size: x-large;
    text-align: center;
    padding: 2rem 0;
}
.switch-img{
    width:300px;
    transition: 0.2s linear;
}
.switch
{
    display: flex;
    justify-content: center;
    padding: 15px 15% ;
}
.switch-text{
    margin: 0 5rem;
    width: 50%;
    transition: 0.2s linear;
}
.left{
    width: 15%;
    height: 15%;
}
.right{
    order: 1;
    width: 15%;
    height: 15%;
}
/*Different sizes*/
.size-center{
    text-align: center;
    margin: 1rem;
}
.column{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    align-content: center;
}
.pad{ 
    width: 100%;
    overflow: hidden;    
    transition: 0.2s linear;
    align-self: center;
}
.order{
    padding: 0px 10% 2rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr 20px 1fr 20px;
    grid-template-areas: 
    "img1 img2 img3"
    "text1 text2 text3"
    "img4 img5 img6"
    "text4 text5 text6";
    gap: 1rem;
    align-content: center;
}
.i1{
    grid-area: img1;
}
.i2{
    grid-area: img2;
}
.i3{
    grid-area: img3;
}
.i4{
    grid-area: img4;
}
.i5{
    grid-area: img5;
}
.i6{
    grid-area: img6;
}
.text{
    text-align: center;
    align-self: center;
}
.t1{
    grid-area: text1;
}
.t2{
    grid-area: text2;
}
.t3{
    grid-area: text3;
}
.t4{
    grid-area: text4;
}
.t5{
    grid-area: text5;
}
.t6{
    grid-area: text6;
}
/* main ends*/

/*footer begins*/
.footer-container{
    padding: 3rem 10%;
    background-color: #d32e2ea4;
}
.footer-flex{
    display: flex;
    justify-content: center;
}
.footer-flex a{
    text-decoration: none;
    color: black;
    margin: 0 50px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 45px;
    border-radius: 50%;
    transition: 0.2s linear;
}
.footer-flex a:hover{
    background-color: #FFE5DC;
    color:  #d32e2ea4;
}
.footer-social-media{
    display:flex;
    justify-content: center;
}
.footer-img{
    width: max-content;
    height: max-content;
    border-radius: 50%;
    padding: 8px;
    transition: 0.2s linear;
}
.footer-img:hover{
    background-color: #FFE5DC;
}
/*footer ends*/


/*laptop*/
@media only screen and (max-width: 1200px) {
   
    header{
        padding: 10px 8%;
        
    }
    .header-nav li a{
        font-size: 18px;
        width: 80px;
        height: 30px;
        margin: 0;
        padding: 0;
    }
    .main-container{
        padding: 0px 8%;
    }
    .main-container-2{
        padding: 0px 8%;
    }
    .main-center{
        padding: 1rem 0;
    }
    .main-img{
        width: 75%;
        padding: 5px 0;
        transition: 0.2s linear;
    }
    .switch{
        padding: 12px 5%;
    }
    .footer-container{
        padding: 2rem 8%;
    }
    .footer-flex a{
        width: 50px;;
    }

}
/*tablet*/
@media only screen and (max-width: 992px) {
   
    header{
        padding: 4px 4%;
    }
    .header-nav{
        flex-wrap: wrap;
    }
    .position{
        position:static;
    }
    .header-nav li a{
        margin: 0;
        padding: 0;
        justify-content: center;
        align-self: center;
        text-align: center;
        font-size: 16px;
        width: 70px;
        height: 30px;
    }
    .main-container{
        padding: 0px 4%;
        flex-wrap: wrap;
        justify-content: center;
    }
    .main-container-2{
        padding: 0px 4%;
    }
    .main-img{
        width:80%;
        transition: 0.2s linear;
    }
    .switch{
        padding: 10px 5%;
    }
    .size-container{
        padding: 0px 4%;
    }
    .footer-container{
        padding: 4px 4%;
    }
    .footer-flex{
        padding: 4px 0;
    }
    .footer-flex a{
        width: 80px;
        height: 30px;
    }
    .order{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows:auto;
        grid-template-areas: 
        "img1 img2 "
        "text1 text2 "
        "img3 img4 "
        "text3 text4"
        "img5 img6 "
        "text5 text6"
        ;
    }

}
/*phone*/
@media only screen and (max-width: 768px) {

    header{
        padding: 10px 2%;
    }
    .header-nav{
        text-align: center;
    }
    .header-nav li {
        padding: 0 ;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main-container{
        padding: 0px 2%;
    }
    .main-container-2{
        padding: 0px 2%;
    }
    .main-img{
        width: 100%;
    }
    .switch{
        flex-wrap: wrap;
        padding: 5px 1%;
    }
    .switch-text {
        margin: 0 10px;
        width: 65%;
    }
    .switch-img{
        align-self: center;
    }
    .right{
        order: 0;
    }
    .size-container{
        padding: 0px 2%;
    }
    .footer-flex{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .footer-flex a{
        margin: 0;
        padding: 0;
    }
    .footer-container{
        padding: 2rem 2%;
    }
    .order{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:auto;
        grid-template-areas: 
        "img1"
        "text1"
        "img2"
        "text2"
        "img3"
        "text3"
        "img4"
        "text4"
        "img5"
        "text5"
        "img6"
        "text6"
        ;
    }
}


@media only screen and (max-width: 576px) {

    header{
        padding: 10px 2%;
        justify-content: center;
        align-items: center;
    }
    .header-nav li a{
        flex-wrap: wrap;
        padding: 0 30px;
    }
    .main-container{
        padding: 0px 2%;
    }
    .main-container-2{
        padding: 0px 2%;
    }
    .main-center {
        text-align: center;
    }
    .main-img{
        width: 100%;
    }
    .switch{
        padding: 5px 1%;
    }
    .switch-img{
        width: 50%;
        margin: 10px 0;
    }
    .switch-text {
        margin: 0 10px;
        width: 100%;
    }
    .size-container{
        padding: 0px 2%;
    }
    .footer-container{
        padding: 2rem 2%;
    }
    
}
