@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 16px;
    color: black;
    font-family: 'Roboto', sans-serif;
}
.container{
    display: grid;
    grid-template-areas: 
    "header"
    "content"
    "aside"
    "footer";
    grid-template-rows: auto 2fr auto auto;
}
.header{
    background-color: #ffd94f;
    min-height: auto;
    grid-area: header;
    padding-left: 20px;
}
li{
    list-style: none;
}
.navigation{
    float: left;
    padding:10px 20px;
}
a:hover{
    color: lightslategray;
}
.content{   
    background-color: #ff904f;
    grid-area: content;
}
h1{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 28px;
}
h2{
    font-size: 21px;
    padding: 5px 20px;
}
h3{
    font-size: 16px;
    padding: 2px 10px ;
}
p{
    padding: 8px;
}
.main-image{
    width: 380px;
    height: 140px;
    margin: 10px;
}
.aside{
    background-color: #ffb04f;
    min-height: 100px;
    grid-area: aside;
}
.aside-img{
    width: 100px;
    height: 100px;
    float: right;
    padding-top:8px ;
    padding-right: 5px;
}
.aside-text{
    max-width: 80%;
}
.footer{
    background-color: #ffd94f;
    width: 100%;
    grid-area: footer;
    padding-top: 10px;
    
}
.footer-container{
    padding: 10px;
}
.footer-row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    text-align: center;
    width: 50%;
}
footer nav div ul li ul li a:hover
{
    color: lightslategray;
}
.otstup{
    padding: 5px 10px;
}
a{
    text-decoration: none;
    color: black;
}


/*  576px, 768px, 992px, 1200px, */

@media only screen and (min-width:576px) {
    .header{
        padding:5px;
        display: flex;
        justify-content: center;
    }
    .content{
        padding-left: 3rem ;
        padding-right: 3rem ;
    }
    .main-image{
        width: 420px;
        height:150px;
    }
    .footer-col{
        text-align: center;
        width: 25%;
    }
}

/*tablet*/
@media only screen and (min-width:768px){
    .container{
        grid-template-areas: 
        "header header"
        "aside content"
        "footer footer";
        grid-template-rows: auto  1fr auto;
        grid-template-columns: 25% 1fr;
    }
    /* here
    .header{
        margin-left:25% ;
        max-width: 75%;
    } */
    body{
        font-size: 18px;
    }
    .content{
        padding-left: 15px ;
        padding-right: 15px ;
    }
    .aside-text{
        max-width: 100%;
    }
    .main-image{
        width: 570px;
        height: 200px;
        margin: 10px;
    }
    .aside-img{
        width: 120px;
        height: 120px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .column{
        columns:1;
    }
/*     
    footer{
        margin-left:25% ;
        max-width: 75%;
    } */

    .footer-col{
        text-align: center;
        width: 25%;
    }
}


/*laptop*/
@media only screen and (min-width:992px) {

   
    .content{
        padding-left: 3rem ;
        padding-right: 3rem ;
    }
    body{
        font-size: 20px;
    }

}

/*Computer screen*/
@media only screen and (min-width:1200px){
    .container{
        grid-template-areas: 
        "header header header"
        "content content aside"
        "footer footer footer";
        grid-template-rows: auto  1fr auto;
        grid-template-columns: 30% 50% 20%;
    }
    .header{
        display: block;
        padding-left: 5rem;
    }
    nav ul li a{
        padding-left:4rem ;
    }
    .column{
        columns:2 570px;
    }
    .content{
        padding-left: 10%;
    }
    .footer-container{
        margin: 0px;
        padding-left: 10%;
        margin-right: 20%;
    }
}